* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

body {
  background-color: var(--Rose-100);
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  max-width: 100vw;
  max-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  width: max-content;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1120px) {
  main {
    row-gap: 4rem;
    flex-direction: column;
  }
}

.heading {
  color: var(--Rose-900);
  margin-block: 1rem;
}

/*  ******** CARD STYLES */
.card {
  width: 200px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.cart-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  min-width: 100px;
  font-weight: 500;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 50px;
  border: 1px solid var(--Red);
  transform: translateY(-50%);
  background-color: white;
}

.btn-cart-add {
  cursor: pointer;
}

.btn-cart-qty {
  background-color: var(--Red);
  color: var(--Rose-100);
}

.btn-cart-qty button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--Rose-100);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Rose-100);
  cursor: pointer;
}

.cart-btn img {
  height: 21px;
  width: 21px;
}

.card-category {
  font-size: 14px;
  color: var(--Rose-400);
  font-weight: 500;
}

.card-name {
  font-size: 18px;
  color: var(--Rose-900);
  font-weight: 700;
}

.card-price {
  color: var(--Red);
  font-weight: 500;
}

/* ******* CARDS CONTAINER STYLE */
.cards {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  column-gap: 1rem;
}

@media only screen and (max-width: 700px) {
  .cards {
    width: 440px;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    position: relative;
    left: 10%;
    transform: translateX(0%);
    width: 100vw;
  }

  main {
    align-items: center;
    width: 80%;
  }

  .card {
    width: 340px;
  }

  .cart-btn {
    min-width: 150px;
    height: 40px;
    font-size: 16px;
    padding-inline: 1rem;
  }

  .btn-cart-qty {
    font-weight: 600;
    font-size: 16px;
  }

  .btn-cart-qty button {
    height: 25px;
    width: 25px;
    font-size: 24px;
  }

  .heading {
    padding-left: 2.5rem;
  }

  .cards {
    width: 80%;
    justify-content: center;
    row-gap: 3rem;
  }
}

.cartContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: #fff;
  height: max-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
  max-width: 100%;
}

.cartHeading {
  color: var(--Red);
}

.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyCart img {
  height: auto;
  width: 6rem;
}

.cart-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.li-end {
  margin-top: 0.2rem;
  background-color: var(--Rose-300);
}

.details {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  column-gap: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.details strong {
  color: var(--Rose-900);
}

.quan-price {
  display: flex;
  column-gap: 8px;
}

.quan {
  font-weight: 500;
  color: var(--Red);
  margin-right: 0.4rem;
}

.priceEach {
  color: var(--Rose-300);
}

.priceWhole {
  color: var(--Rose-500);
  font-weight: 700;
}

.itemRemove {
  background-color: transparent;
  aspect-ratio: 1/1;
  height: 1.2rem;
  border: 1px solid var(--Rose-500);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  align-items: center;
}

.totalPrice strong {
  font-size: 24px;
  color: var(--Rose-900);
}

.carbon-neutral-msg {
  display: flex;
  background-color: var(--Rose-50);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  gap: 0.4rem;
}

.carbon-neutral-msg strong {
  color: var(--Rose-500);
}

.btn-confirm-order {
  width: 100%;
  height: 3rem;
  border-radius: 50px;
  border: none;
  margin: 1rem 0;
  font-weight: 500;
  cursor: pointer;
  color: var(--Rose-100);
  background-color: var(--Red);
}
